# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ==========================
# Model Weights
# ==========================
*.pth
*.ckpt
*.onnx
*.engine
*.safetensors

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Output Files
# ==========================
outputs/
runs/
results/
temp/

# ==========================
# Hugging Face Cache
# ==========================
.cache/
huggingface/
hf_cache/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Operating System
# ==========================
Thumbs.db
.DS_Store

# ==========================
# Build / Distribution
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage