torch
torchvision
torchaudio

ultralytics==8.4.41

transformers==4.49.0
accelerate==1.14.0
sentencepiece==0.2.2
huggingface-hub
timm
einops

opencv-python==4.12.0.88

easyocr==1.7.2

SpeechRecognition==3.16.1
PyAudio==0.2.14

edge-tts==7.2.8
pygame==2.6.1

customtkinter==5.2.2

numpy==2.2.6
Pillow==11.3.0